<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Answer Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Answer Page</h1>
    <br />
    <a href="/home">Home page</a><br />
    <a href="/about">about Page</a><br />
    <a href="/Contact">Cotact page</a><br />
    <a href="/sum">Sum page</a><br />

    A value is <%= mya %><br />
    B value is <%= myb %><br />
    C value is <%= myc %><br />
  </body>
</html>
