<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
  </head>
  <body>
    <h1>Add Product</h1>
    <form action="/add-product-process" method="post">
      Name: <input type="text" name="txt1" /> <br />
      Price: <input type="number" name="txt2" /> <br />
      Details: <input type="text" name="txt3" /> <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
